/* 运单号 */
.ydh {

}
.ydh select {
    width: 80px;
}
.ydh input {
    margin-left: -5px;
    height: 17px;
    padding-left: 5px;
}
.ydh .first {
    width: 40px;
}
.ydh .second {
    width: 120px;
}
.ydh .readonly {
    color: #aaaaaa;
    background-color: #efefef;
}

/* 航班号*/
.hbh input {
    height: 17px;
    padding-left: 5px;
}
.hbh .first {
    width: 50px;
}
.hbh .second {
    width: 175px;
    margin-left: -5px;
}
.hbh .readonly {
    color: #aaaaaa;
    background-color: #efefef;
}

/* 起点站, 目的站 */
.qdz input, .mdz input {
    width: 60px;
}
.qdz .readonly, .mdz .readonly {
    color: #aaaaaa;
    background-color: #efefef;
}

.air_line {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-bottom: -15px;
}
.air_line li {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 30px;
    text-align: left;
    float: none;
}
.air_line .line {
    margin-top: -10px;
    height: 6px;
}

#fieldset_wbz ol label {
    margin-left: 2px;
}
/* 破损货物详细信息 */
#pshw_detail {
    height: 240px;
}
#pshw_detail ul {
    float: left;
    width: 290px;
    height: 200px;
    min-height: 200px;
    overflow: auto;
}