* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 12px;
    line-height: 1.8em;
    color: #000;
    font-family: Verdana, "宋体, serif";
}

body {
    width: 1000px;
	height: 766px;
    margin: 0 auto;
    /*border: 1px solid #ff0000;*/
}

img {
    border: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

legend {
    color: blue;
    font-size: 13px;
    font-weight: bold;
}

fieldset {
    margin: 0 10px;
    padding:5px;
    border: 1px solid green;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
}

label {
    margin-right: 5px;
}

#main {
    width: 100%;
    clear: both;
}
#main_left {
    width: 45px;
    height: 600px;
    display: inline-block;
    background-image: url("../images/sjlbq.jpg");
}
#main_right {
    width: 930px;
    float: right;
    height: 600px;
    background-color: #f2fbf0;
}

.round {
    padding:5px;
    border: 1px solid green;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */
    margin: 1px 0;
}

.readonly {
    color: #aaaaaa;
    /*background-color: #cccccc;*/
}
.readonly input, .readonly select {
    color: #aaaaaa;
    background-color: #efefef;
}

.row {
    margin: 3px 2px;
}

.width_30 {
    width: 30px;
}
.width_50 {
    width: 50px;
}
.width_60 {
    width: 60px;
}
.width_90 {
    width: 90px;
}
.width_100 {
    width: 100px;
}
.width_120 {
    width: 120px;
}
.width_150 {
    width: 150px;
}
.width_230 {
    width: 230px;
}
.width_400 {
    width: 400px;
}
.width_550 {
    width: 550px;
}

.pad_left_15 {
    padding-left: 15px;
}

.margin_right_20 {
    margin-right: 20px;
}

.green_border {
    border: 1px solid green;
}