/* 主导航 */
#main_nav_bar {
    /*width: 100%;*/
    clear: both;
    padding: 5px 0 0;
    height: 32px;

    /*background: #2b824e url(../images/main_nav.jpg) repeat;*/
    background: #2b824e;
    color: #ffffff;
    border-left: 2px solid #2b824e;
    border-right: 2px solid #2b824e;
}
#main_nav_bar ul {
    line-height: 20px;
    margin-left: 15px;
}

#main_nav_bar li {
    float: left;
    /*margin-left: 10px;*/
    padding: 2px 15px 10px 15px;
}

#main_nav_bar a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 2px;
}

/* 子导航 */
#sub_nav_bar {
    clear: both;
    background: #2b824e;
    height: 120px;
    border: 2px solid #2b824e;
}

.div_sub_nav {
    background: #e8f3e6;
    /*margin: 0 2px 2px;*/
    height: 100px;
    display: none;
}

#sub_nav_bar > div {
    padding: 6px 8px 14px 5px;
}

#sub_nav_bar ol {
    border: 1px solid #b2dea5;
    margin-left: 5px;
    height: 100px;
}

#sub_nav_bar ol ul {
    height: 80px;
}

#sub_nav_bar ol ul li {
    margin: 3px 5px;
}

#sub_nav_bar ol ul li span {
    margin-left: 2px;
}

#sub_nav_bar ol h5 {
    clear: both;
    background: #2c824e;
    text-align: center;
}

.nav_single {
    width: 80px;
}

.single {
    text-align: center;

}
.single li {
    padding: 12px 0 0 0;
    vertical-align: middle;
}

#sub_nav_bar a {
    color: #000000;
    text-decoration: none;
}

.sub_nav_selected {
    background-color: #cfebc3;
    color: #000000;
    /*border: 1px solid green;*/
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    /*border-radius:5px;*/            /* W3C syntax */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
}