<!doctype html>
<html ng-app="app">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <link href="lib/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="lib/bootstrap-responsive.css" rel="stylesheet" type="text/css">
    <link href="lib/animations.css" rel="stylesheet" type="text/css">
    <link href="lib/ng-grid.css" rel="stylesheet" type="text/css">
    <link href="lib/angular.treeview.css" rel="stylesheet" type="text/css">
</head>
<body>
<div ng-controller="FormDesignCtrl">
    <mu-tabs>
        <mu-tab title="测试">
            Date Format: <input ng-model="format"><hr/>
            Current time is: <span mu-current-time="format"></span>
        </mu-tab>
        <mu-tab title="表单配置">
            <div mu-form="FormConfig"></div>
        </mu-tab>
        <mu-tab title="表单字段配置">
            <div>
                <button ng-click="addRow()">增加</button>
                <div mu-table="FormFieldConfig"></div>
            </div>
        </mu-tab>
    </mu-tabs>

    <hr style="border: 1px solid #0000ff"/>
    <button ng-click="updateForm()">刷新表单</button>
    <div mu-form="PreviewForm" style="border: 1px solid #000000">
    </div>
    <hr/>
    {{preview}}
    <hr/>
    {{formConfig}}
    <hr/>
    {{formConfig | formLayout}}

    {{meta}}

    <div
            data-angular-treeview="true"
            data-tree-id="mytree"
            data-tree-model="roleList">
    </div>
    <hr/>
    <div
            data-angular-treeview="true"
            data-tree-id="mytree"
            data-tree-model="layoutTree"
            data-node-label="displayName">
    </div>
    <hr/>
    <div mu-view="1"></div>
</div>
</body>

<script type="text/javascript" src="../design/js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="lib/angular.js"></script>
<script type="text/javascript" src="lib/ng-grid-2.0.7.debug.js"></script>
<script type="text/javascript" src="js/classes/layout.js"></script>
<script type="text/javascript" src="js/const.js"></script>
<script type="text/javascript" src="js/services/Utils.js"></script>
<script type="text/javascript" src="js/namespace.js"></script>
<script type="text/javascript" src="js/services/muconfig.js"></script>
<script type="text/javascript" src="js/services/MUDict.js"></script>
<script type="text/javascript" src="js/filters/formFilter.js"></script>
<script type="text/javascript" src="js/classes/TableLayout.js"></script>
<script type="text/javascript" src="js/directives/mu-formField.js"></script>
<script type="text/javascript" src="js/directives/mu-tab.js"></script>
<script type="text/javascript" src="js/directives/mu-table.js"></script>
<script type="text/javascript" src="js/directives/mu-form.js"></script>
<script type="text/javascript" src="js/directives/mu-tree.js"></script>
<script type="text/javascript" src="js/directives/mu-view.js"></script>
<script type="text/javascript" src="js/directives/mu-dict.js"></script>
<script type="text/javascript">
    var appModule = angular.module('app', ['metaui']);
    appModule.controller('FormCtrl', function($scope, MUConfig) {
        $scope.muFormOptions = MUConfig.get('formConfig');
    });
    appModule.controller('TableCtrl', function($scope, MUConfig) {
        $scope.muTableOptions = MUConfig.get('formFieldConfig');
    });
    appModule.controller('FormDesignCtrl', function($scope, MUConfig) {
//        $scope.muFormOptions = MUConfig.get('formConfig');
//        $scope.muTableOptions = MUConfig.get('formFieldConfig');
        /*MUConfig.get('PreviewForm').fields = [
            {name: 'name', displayName: '名称'}
        ];*/
        $scope.preview = MUConfig.get('PreviewForm');
        $scope.formConfig = MUConfig.get('FormConfig');
        $scope.meta = MUConfig.getMeta("meta");

        $scope.roleList = [
            { label : "User", id : "role1", children : [
                { label : "subUser1", id : "role11", children : [] },
                { label : "subUser2", id : "role12", children : [
                    { label : "subUser2-1", id : "role121", children : [
                        { label : "subUser2-1-1", id : "role1211", children : [] },
                        { label : "subUser2-1-2", id : "role1212", children : [] }
                    ]}
                ]}
            ]},

            { label : "Admin", id : "role2", children : [] },

            { label : "Guest", id : "role3", children : [] }
        ];

        $scope.layoutTree = layoutList;
    });
</script>
</html>